# ignore anything beginning with "__"
# (used to hide stuff from the repository)
__*
**/__*

# ignore build files
*.o
*.com
*.sym
*.lst

# ignore the RunCPM environment
bin/RunCPM/A/0/*
# and build files in the NTVCM folder
bin/ntvcm/*.v80