# ignore anything beginning with "__"
# (used to hide stuff from the repository)
__*
**/__*

# ignore build files
*.o
*.com
*.prg
*.sym
*.lst
*.zip

# ignore build directory
build/
# and the RunCPM environment
bin/RunCPM/A/0/*